*{
    margin: 0;
    padding: 0;
}


/* ---------------------------------------------FONTS */

.interFont {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .ralewayFont{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


/* .........................SHARED CLASSES */

.container{
    max-width: 1140px;
    margin: auto;
}

.btn{
    border: none;
    background-color: #4e47ff;
    border-radius: 10px ;
    color: white;
    font-size: 16px ;
    font-weight: bold;
    cursor: pointer;
    padding: 12px 36px;
    line-height: 150%;
}


.bg{
    background: #F5F7FF;
    
}

/* ..........................HEADER SECTION START */
header{
    background: url(images/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.logo{
    font-size: 34px;
    color: #4E47FF;
    font-weight: 900;
}



.banner{
    text-align: center;
    margin: 158px 0;
}

.banner h2{
    font-size: 65px;
    font-weight: bold;
    color: #252432;



}

.banner button{
    margin-top: 37px;
}
/* ..............................................HEADER SECTION END */


/* ..................................ACTION SECTION START */

.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 116px 0;
    gap: 205px;


}

.actionLeft h3{
    font-size: 42px;
    color: #252432;

}

.actionLeft p{
    font-size: 24px;
    line-height: 30px;
    margin: 23px 0;
    color: #72737F;
}

.actionRight img{
    border-radius: 48px;
}


/* ..................................ACTION SECTION END */

/*  ...........................PRODUCTIVE USERS STARTS*/


.productiveUser{
    text-align: center;
    background: #E5E7FF;
    padding: 50px 142px;
    border-radius: 24px;


}

.productiveTitle{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #252432;
}

.productiveDatas{
    display: flex;
    width: 800px;
    margin: auto;
    gap: 158px;
}

.productiveData h1{
    font-size: 80px;
    color: #4E47FF;


}
.productiveData h5{
    font-size: 20px;
    font-weight:normal;
    color: #72737F;

}
.productiveData{
    text-align: center;
}





/*...........................PRODUCTIVE USERS ENDS*/


/* .............................................FEEDBACK SECTION START */

.feedback{
    padding: 116px 0;
}


.feedbackTitle{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
}

.feedbackReviews{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.starRating{
    width: 20px;
}

.feedbackReview{
    width: 316px;
    height: 200px;
    background: #FAFCFF;
    border-radius: 14px;
    padding: 24px;
    border: 1px solid #F2EDED;


}

.reviewTitle{
    font-size: 24px;
    color: #252432;
    margin-top: 24px;
    margin-bottom: 10px;
}

.reviewComnt{
    font-size: 17px;
    color: #252432;
}

.reviewerInfo{
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.reviewerImg{
    border-radius: 50%;
    margin-right: 8px;
}

.reviewerName{
    color: #757575;
}

.reviewDate{
    font-weight: 450;
    font-size: 15px;
    color: #72737fbd;
}

/* .............................................FEEDBACK SECTION END */

/* ...............................READY SECTION START */

.ready{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 150px;
    border-radius: 14px;
    background: white;
}

.readyTitle{
    font-size: 50px;
    font-weight: bold;
    color: #252432;
}

.readyPara{
    margin: 20px 0;
    font-size: 14px;
    color: #72737F;
}

.readyImg{
    width: 840px;
    height: 364px;
    border-radius: 48px;
    margin-top: 20px;
}

/* .....................................READY SECTION END */

/* .................................GET IN TOUCH SECTION START */

.getInTouchContainer{
    padding: 85px 0 20px 0;
}

.getInTouch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 71px 0;
}

.getInTouchLeft{
    width: 528px;
}

.getInTouchTitle{
    font-size: 97px;
    color: #252432;

}

.getInTouchRight{
    display: flex;
    flex-direction: column;
    width: 490px;
    height: 490px;
}

.getInTouchRight input , .getInTouchRight textarea {
    padding: 20px 32px;
    border: none;
    border-radius: 10px;
}

.getInTouchRight label{
    margin: 19px 0;
    font-size: 20px;
    line-height: 120%;
    font-weight: 450;
}

.getInTouchRight button{
    margin-top: 19px;
}

.getInTouchRight [placeholder]{
    color:#252432;
    font-size: 20px;
}

/* .........................................GET IN TOUCH SECTION END */

/* ........................................FOOTER SECTION START */

.footer{
    text-align: center;
    margin: 105px 0;

}

.footerLogo{
    font-size: 100px;
    color: #4E47FF;
    font-weight: 900;
    margin-bottom: 20px;
}

.footerPara{
    font-size: 20px;
    color: #72737F;
    width: 666px;
    margin: auto;
}



.footerNav{
    width: 410px;
    margin: auto;
    padding: 20px 0;

}

.footerNav a{
    text-decoration: none;
    color:#72737F ;
    font-size: 20px;
}
/* ........................................FOOTER SECTION END */