*{
    margin: 0;
    padding: 0;
}


/* ---------------------------------------------FONTS */

.interFont {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .ralewayFont{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


/* .........................SHARED CLASSES */

.container{
    max-width: 1140px;
    margin: auto;
}

.btn{
    border: none;
    background-color: #4e47ff;
    border-radius: 10px ;
    color: white;
    font-size: 16px ;
    font-weight: bold;
    cursor: pointer;
    padding: 12px 36px;
    line-height: 150%;
}


.bg{
    background: #F5F7FF;
    
}

/* ..........................HEADER SECTION START */
header{
    background: url(images/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.logo{
    font-size: 34px;
    color: #4E47FF;
    font-weight: 900;
}



.banner{
    text-align: center;
    margin: 158px 0;
}

.banner h2{
    font-size: 65px;
    font-weight: bold;
    color: #252432;



}

.banner button{
    margin-top: 37px;
}
/* ..............................................HEADER SECTION END */


/* ..................................ACTION SECTION START */

.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 116px 0;
    gap: 205px;


}

.actionLeft h3{
    font-size: 42px;
    color: #252432;

}

.actionLeft p{
    font-size: 24px;
    line-height: 30px;
    margin: 23px 0;
    color: #72737F;
}

.actionRight img{
    border-radius: 48px;
}


/* ..................................ACTION SECTION END */

/*  ...........................PRODUCTIVE USERS STARTS*/


.productiveUser{
    text-align: center;
    background: #E5E7FF;
    padding: 50px 142px;
    border-radius: 24px;


}

.productiveTitle{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #252432;
}

.productiveDatas{
    display: flex;
    width: 800px;
    margin: auto;
    gap: 158px;
}

.productiveData h1{
    font-size: 80px;
    color: #4E47FF;


}
.productiveData h5{
    font-size: 20px;
    font-weight:normal;
    color: #72737F;

}
.productiveData{
    text-align: center;
}





/*...........................PRODUCTIVE USERS ENDS*/
