*{
    margin: 0;
    padding: 0;
}


/* ---------------------------------------------FONTS */

.interFont {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .ralewayFont{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


/* .........................SHARED CLASSES */

.container{
    max-width: 1140px;
    margin: auto;
}

.btn{
    border: none;
    background-color: #4e47ff;
    border-radius: 10px ;
    color: white;
    font-size: 16px ;
    font-weight: bold;
    cursor: pointer;
    padding: 12px 36px;
    line-height: 150%;
}


.bg{
    background: #f5f7ff;
    
}

/* ..........................HEADER SECTION START */
header{
    background: url(images/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.logo{
    font-size: 34px;
    color: #4e47ff;
    font-weight: 900;
}



.banner{
    text-align: center;
    margin: 158px 0;
}

.banner h2{
    font-size: 65px;
    font-weight: bold;


}

.banner button{
    margin-top: 37px;
}
/* ..............................................HEADER SECTION END */


/* ..................................ACTION SECTION START */

.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 116px 0;
    gap: 205px;


}

.actionLeft h3{
    font-size: 42px;
}

.actionLeft p{
    font-size: 24px;
    line-height: 30px;
    margin: 23px 0;
    color: #8d8e98
}

.actionRight img{
    border-radius: 48px;
}


/* ..................................ACTION SECTION END */
